
/* tag para definir um comando para todos os elementos do aquivo *{} */
body{background-image: url(foto27cul-301-psico-d26.webp);background-repeat: no-repeat;background-size: 100%; color: rgb(255, 243, 243);} 
/* comando para definir a cor do site e as cores dos texto, com degradê com radiente circular, os 50% significa quanto dessa cor voc|ê quer usar no seu arquivo*/
.cabecalho{background-color: black; color: white;display: flex; justify-content: space-around;}
/* novo comando para mudar apenas a cor do cabeçalho do site */
/* display:flex  posiciona o texto ao lado da imagem*/
/* justify- content significa justificar o conteúdo e a opção que escolhemos vai justificar margem iguais para elementos de uma mesma linha */
.cabecalho-imagem{width: 40%;}
/* novo comando para mudar o tamanho da imagem usando a tag class */
.cabecalho-lista-item{display: inline-block;margin: 0 24px; padding: 16px 0;font-size: 24px;}
/* display:inline-block tag que define que o elemento ocupe espaço suficiente para ser exibido*/
/* margin espaçamento nas margens da página */
/* padding espaçamento entre elementos, "linhas" */
/* font-size: muda o tamanho da fonte do texto */
/* .escola-paragrafo-2{color:rgb(25, 45, 158); font-size: 20px;} */
.escola{display: flex;justify-content:left; align-items:normal;color: rgb(241, 236, 236);}
/* tag background-image:lineat-gradient cria cor de fundo degradê */
/* ao adicionar -45deg você escolhe o ângulo do seu degradê na tag  background-image:lineat-gradient */
/* justify- content significa justificar o conteúdo e a opção que escolhemos vai justificar margem iguais para elementos de uma mesma linha */
/* align-items aliar os elementos em uma determinada posição, pode ser por exemplo a esquerda, direita, em baixo e assim por diante*/